.section {
  padding: 8rem 0;
  position: relative;
  overflow: hidden;
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-on-dark);
}

.light {
  background-color: var(--bg-light);
  color: var(--text-on-light);
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 0;
  }
}
